    <!-- cart  -->
    <form class="section" id="cart">
        <div class="cart-header">
            <h2 class="title-cart">Carrito de compras</h2>
            <button class="a-cart" id="close-cart" type="reset"><img src="./assets/icons/close-svgrepo-com.png"
                    class="close-cart" alt=""></button>
        </div>
        <div class="cart-body">
            <div class="element-cart">
                <img src="./assets/icons/cart-shopping-svgrepo-com.png" class="image-cart-element" alt="">
                <div class="container-element-cart">
                    <a class="a-cart" href=""><img src="./assets/icons/delete.png" class="close-cart" alt=""></a>
                    <div class="row-element-cart">
                        <h4 class="title-cart">Producto</h4>
                        <p class="text-cart">este es el producto</p>
                    </div>
                    <div class="row-element-cart-2">
                        <div class="container-count">
                            <div class="count-low" id="low">-</div>
                            <div class="count" id="count">1</div>
                            <div class="count-high" id="high">+</div>
                        </div>
                        <p class="subtitle-cart">$ 50596899 eu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-footer">
            <div class="container-cart-footer">
                <h2 class="title-cart">Total</h2>
                <p class="subtitle-cart">$ 50596899 eu</p>
            </div>
            <button type="submit" class="button-buy-cart">Comprar</button>
        </div>
    </form>
    <!-- cart -->